:root{
  --color-grey:rgba(0, 0, 0, 0.53);
  --color-black: #000;
  --color-white: #fff;
  --bg-black: #000;
  --bg-white: #fff;
}
@font-face {
  font-family: "poppins";
  src: url(../font/Poppins-Medium.ttf);
}
*{
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  list-style: none;
  font-family: "poppins";
  text-decoration: none;
  box-sizing: border-box;
}
body{
  background: #2AA5A0;
}
svg, img{
  cursor: pointer;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2%;
}

/* HEADER */

.pyblog-header{
  background: var(--bg-white);
}
.header-inner{
  padding: 19px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-inner__services{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-inner__services-search{
  padding: 12px 20px;
  width: 370px;
  height: 49px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--bg-white);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.services__search-input{
  width: 280px;
}
.services__essay-link{
  margin: 0 52px;
  width: 190px;
  height: 49px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: var(--bg-white);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.services__essay-span{
  font-weight: 500;
  color: var(--color-grey);
}
.header-inner__services-contact{
  margin-right: 40px;
}
.services-svg{
  fill: var(--color-grey);
}


@media screen and (max-width:940px){
  .header-inner__services-search{
    width: 280px;
    height: 49px;
  }
  .services__search-input{
    width: 190px;
  }
  .services__essay-link{
    margin: 0 25px;
  }
  .header-inner__services-contact{
    margin-right: 20px;
  }
}

@media screen and (max-width:780px){
  .header-inner__services-search{
    width: 220px;
    height: 49px;
  }
  .services__search-input{
    width: 140px;
  }
  .services__essay-link{
    width: 160px;
    margin: 0 25px;
  }
  .services__essay-span{
    font-size: 14px;
  }
  .header-inner__services-contact{
    margin-right: 20px;
    width: 20px;
    height: 20px;
  }
  .header-inner__services-moon{
    width: 20px;
    height: 20px;
  }
  .services__essay-pencil{
    width: 20px;
    height: 20px;
  }
  .size-loop{
    width: 20px;
    height: 20px;
  }
}
@media screen and (max-width:780px){
  .header-inner__services-search{
    width: 220px;
    height: 49px;
  }
  .services__search-input{
    width: 140px;
  }
  .services__essay-link{
    width: 160px;
    margin: 0 25px;
  }
  .services__essay-span{
    font-size: 14px;
  }
  .header-inner__services{
    margin-right: 20px;
  }
  .header-inner__services-contact,
  .header-inner__services-moon{
    width: 25px;
    height: 25px;
  }
  .services__essay-pencil{
    width: 20px;
    height: 20px;
  }
  .size-loop{
    width: 20px;
    height: 20px;
  }
}
@media screen and (max-width:710px){
  .header-inner__services-search{
    width: 220px;
    height: 49px;
  }
  .services__search-input{
    width: 140px;
  }
  .services__essay-link{
    width: 160px;
    margin: 0 25px;
  }
  .services__essay-span{
    font-size: 14px;
  }
  .header-inner__services{
    margin-right: 20px;
  }
  .header-inner__services-contact,
  .header-inner__services-moon{
    width: 20px;
    height: 20px;
  }
  .size-loop{
    width: 20px;
    height: 20px;
  }
}


@media screen and (max-width:680px){
  .header-inner__services-search{
    width: 180px;
    height: 49px;
  }
  .services__search-input{
    width: 110px;
  }
  .services__essay-link{
    width: 140px;
    margin: 0 15px;
  }
  .services__essay-span{
    font-size: 12px;
  }
  .header-inner__services{
    margin-right: 20px;
  }
  .header-inner__services-contact,
  .header-inner__services-moon{
    width: 20px;
    height: 20px;
  }
  .services__essay-pencil{
    width: 16px;
    height: 16px;
  }
  .size-loop{
    width: 17px;
    height: 17px;
  }
}
@media screen and (max-width:590px){
  .header-inner__services-search{
    margin-right: 15px;
  }
  .services__essay-link{
    display: none;
  }
}
@media screen and (max-width:430px){
  .header-inner__services-search{
    margin-right: 15px;
    width: 30px;
    height: 49px;
    padding: 0px 0px;
    justify-content: center;
    box-shadow: 0 0 0;
  }
  .size-loop{
    width: 20px;
    height: 20px;
  }
  .services__search-input{
    display: none;
  }
}

/* MAIN */

.hero{
  padding: 0;
  margin: 0;
  display: flex;
}

.hero__reklama{
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.hero__reklama-funs{
  padding: 10px 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: var(--bg-white);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.reklama__funs-h2{
  text-align: center;
  color: var(--color-black);
  font-size: 24px;
}
.journal{
  margin: 10px 0;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
@media screen and (max-width:1045px){
  .journal{
    width: 235px;
    height: 215px;
  }
  .reklama__funs-h2{
    font-size: 20px;
  }
  .reklama__funs-title{
    font-size: 14px;
  }
  .reklama__funs-title2{
    font-size: 14px;
  }
  .reklama__funs-title2 img{
    width: 80px;
    height: 18px;
  }
  
}
.reklama__funs-items{
  display: flex;
}
.funs__items-like,
.funs__items-share,
.funs__items-message{
  display: flex;
  align-items: center;
}
.funs__items-share{
  margin: 0 10px;
} 

/* TEGLAR */

.hero__reklama-teglar{
  margin: 30px 0;
  width: 308px;
  height: 290px;
  padding: 13px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: var(--bg-white);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.reklama__teglar-span{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.teglar__span-h2{
  margin-right: 38px;
}
.reklama__teglar-skills{
  padding-top: 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.teglar__skills-div{
  margin: 5px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.reklama__funs-title2{
  display: flex;
  align-items: center;
}
.reklama__funs-title2 img{
  margin-right: 10px;
  margin-left: 3%;
}

@media screen and (max-width:1045px){
  .hero__reklama-teglar{
    width: 265px;
    height: 250px;
  }
  .teglar__span-h2{
    margin-right: 10px;
    font-size: 20px;
  }
  .teglar__skills-div{
    margin: 2px;
    padding: 5px 10px;
    font-size: 14px;
  }
}

/* DINO */

.hero__reklama-dino{
  margin: 30px 0;
  width: 308px;
  height: 450px;
  display: flex;
  flex-direction: column;
  background: var(--bg-white);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.reklama__dino-img{
  margin-bottom: 11px;  
}
.reklama__dino-h2{
  margin: 0 15px;
  font-size: 20px;
  color: var(--color-black);
}
.reklama__dino-title{
  margin: 11px 15px;
  font-size: 16px;
  font-weight: 300;
  color: var(--color-black);
}
.reklama__dino-btn{
  margin: 0 65px;
  width: 170px;
  height: 50px;
  font-size: 20px;
  color: var(--color-white);
  background: #3571A3;
  border-radius: 16px;
}

@media screen and (max-width:1045px){
  .hero__reklama-dino{
    width: 265px;
    height: 430px;
  }
  .reklama__dino-img{
    width: 265px;
    height: 165px;  
  }
  .reklama__dino-h2{
    margin: 0 15px;
    font-size: 18px;
    color: var(--color-black);
  }
  .reklama__dino-title{
    margin: 11px 15px;
    font-size: 14px;
    font-weight: 300;
    color: var(--color-black);
  }
  .reklama__dino-btn{
    margin: 0 45px;
    width: 150px;
    height: 40px;
    font-size: 18px;
    color: var(--color-white);
    background: #3571A3;
    border-radius: 16px;
  }
  
}

/* TELEGRAM LINK PRONE */

.hero__reklama-phone{
  background: #fff;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.reklama__phone-img{
  width: 300px;
  height: 391px;
  background-image: url(../images/phone.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width:1045px){
  .reklama__phone-img{
    width: 265px;
    height: 370px;
    background-image: url(../images/phone.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
}

.hero__reklama-funs,
.hero__reklama-teglar,
.hero__reklama-dino,
.hero__reklama-phone{
  transition: .5s ease;
  -webkit-transition: .5s ease;
  -moz-transition: .5s ease;
  -ms-transition: .5s ease;
  -o-transition: .5s ease;
}
.hero__reklama-funs:hover,
.hero__reklama-teglar:hover,
.hero__reklama-dino:hover,
.hero__reklama-phone:hover{
  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.25);
}

/* MAIN - long-cards */


.hero__news{
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
}
.hero__news-pages{
  padding: 10px 15px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background: var(--color-white);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.news__pages-choose{
  margin: 0 14px;
  padding: 10px 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.news__pages-choose:nth-child(2){
  border: 1px solid #000;
}
.news__pages-choose svg{
  margin-right: 10px;
}

@media screen and (max-width:1155px){
  .news__pages-choose{
    margin: 0 14px;
    padding: 6px 10px;
    font-size: 14px;
  }
  .choose-svg{
    width: 24px;
    height: 24px;
  }
}

/* ADD */

.hero__news-all{
  margin: 20px 0;
  display: flex;
}
.hero__news-all img{
  margin-right: 6px;
}
.news__all-div{
  cursor: pointer;
  margin: 5px;
  padding: 7px 10px;
  display: flex;
  align-items: center;
  background: #FFFFFF;
  border: 2px solid var(--color-grey);
  border-radius: 10px;
}
.news__all-add{
  display: flex;
  align-items: center;
}
.news__all-add img{
  width: 43px;
  height: 43px;
}

/* LONG CARDS */

.hero__news-card{
  margin: 20px 0;
  padding: 20px;
  border-radius: 15px;
  background: var(--bg-white);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  transition: .5s ease;
  -webkit-transition: .5s ease;
  -moz-transition: .5s ease;
  -ms-transition: .5s ease;
  -o-transition: .5s ease;
}

.hero__news-card:hover{
  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.25);
}
.news__card-infor{
  display: flex;
}
.card__infor-text{
  margin-right: 17px;
}
.infor__text-python{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.news__all-div1{
  cursor: pointer;
  /* margin: 5px; */
  display: flex;
  align-items: center;
  border-radius: 10px;
}
.text__python-data{
  display: flex;
}
.python__data-view{
  margin-left: 33px;
  display: flex;
  align-items: center;
}
.text__python-h2{
  margin: 10px 0;
  font-size: 23px;
}

.news__card-emojis{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card__emojis-post{
  display: flex;
}
.emojis__post-span{
  display: flex;  
  margin-right: 10px;
}
.emojis__post-span svg{
  margin-right: 5px;
}
.card__emojis-stikers{
  display: flex;
  align-items: center;
}
.emojis__post-span{
  display: flex;
}
.emojis__stiker-span{
  margin-right: 10px;
}
.emojis__stiker-span:hover{
  color: #3571a3;
}
.emojis__stiker-span:hover img{
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}
.animated-img{
  width: 25px;
  height: 25px;
  transition: .2s ease;
  -webkit-transition: .2s ease;
  -moz-transition: .2s ease;
  -ms-transition: .2s ease;
  -o-transition: .2s ease;
}
.stiker__span-title{
  margin-left: 15px;
  font-size: 12px;
}

@media screen and (max-width:1165px){
  .text__python-h2{
    font-size: 22px;
  }
  .text__python-title{
    font-size: 14px;
  }
}
@media screen and (max-width:1140px){
  .text__python-h2{
    font-size: 20px;
  }
  .text__python-title{
    font-size: 14px;
  }
  .card__infor-img img{
    width: 190px;
    height: 150px;
  }
}
@media screen and (max-width:1085px){
  .text__python-h2{
    font-size: 18px;
  }
  .text__python-title{
    font-size: 12px;
  }
  .card__infor-img img{
    width: 190px;
    height: 150px;
  }
}


.hero__news-next{
  display: flex;
  align-items: center;
  justify-content: center;
}
.news__next-vector{
  padding: 2px 4px;
  display: flex;
  align-items: center;
  background: var(--bg-white);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.left{
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
.news__next-nums{
  padding: 2px 12px;
  background: var(--bg-white);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.p-choosing{
  margin-right: 8px;
}




/* FOOTER */
.footer-inner{
  margin-top: 20px;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  color: var(--color-grey);
  background: var(--bg-white);
  border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -ms-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
}
.footer-inner__top{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.footer-inner__top-boxes{
  margin: 10px 10px;
  display: flex;
  flex-direction: column;
}
.top__boxes-span{
  margin-top: 15px 0;
}
.top__boxes-title:nth-child(2){
  margin: 10px 0;
}
.top__boxes-links{
  display: flex;
  align-items: center;
}
.top__boxes-links:nth-child(2){
  margin: 10px 0;
}
.boxes__link-title{
  margin-left: 12px;
}

.footer-inner__bot{
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.black-heart{
  margin: 0 5px;
}
